@media screen and (max-width:2000px) {
    body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
    }
    header{
    color: white;
    text-align: center;
    }
    section{
        background: rgba(255, 255, 255, 0.642);
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        height: 400px;
        margin: auto;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.357);
        display: flex;
        flex-direction: column;
    }
    footer{
    color: white;
    text-align: center;
    font-style: italic;
    }
    img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 2px solid aliceblue;
    }
    #ft{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    #hr{
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.372);
        border: 1px solid rgba(0, 0, 0, 0.438);
        font-size: 20pt;
        text-decoration: underline;
        background-color: rgba(240, 248, 255, 0.385);
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        color: rgba(32, 49, 67, 0.719);
    }
}
@media screen and (max-width:320px){
    body{
    background: rgb(70, 142, 236);
    font: normal 12pt Arial;
    }
    header{
    color: white;
    text-align: center;
    }
    section{
        background: rgba(255, 255, 255, 0.642);
        border-radius: 10px;
        padding: 10px;
        width: 270px;
        height: 250px;
        margin: auto;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.357);
        display: flex;
        flex-direction: column;
    }
    footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    }
    img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid aliceblue;
    }
    #ft{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    #hr{
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.372);
        border: 1px solid rgba(0, 0, 0, 0.438);
        font-size: 14pt;
        text-decoration: overline underline;
        background-color: rgba(240, 248, 255, 0.385);
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        color: rgba(32, 49, 67, 0.719);
    }
}